<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.hdkf.support.hdkfsupportrequestinfo.dao.HdkfSupportRequestInfoDao">

<resultMap id="HdkfSupportRequestInfoDTOMap" type="avicit.hdkf.support.hdkfsupportrequestinfo.dto.HdkfSupportRequestInfoDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="requestMethod" column="REQUEST_METHOD" jdbcType="VARCHAR" />
		<result property="requestNo" column="REQUEST_NO" jdbcType="VARCHAR" />
		<result property="requestName" column="REQUEST_NAME" jdbcType="VARCHAR" />
		<result property="requestUnit" column="REQUEST_UNIT" jdbcType="VARCHAR" />
		<result property="linkMan" column="LINK_MAN" jdbcType="VARCHAR" />
		<result property="linkPhone" column="LINK_PHONE" jdbcType="VARCHAR" />
		<result property="fax" column="FAX" jdbcType="VARCHAR" />
		<result property="requestDate" column="REQUEST_DATE" jdbcType="TIMESTAMP" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="modelId" column="MODEL_ID" jdbcType="VARCHAR" />
		<result property="productName" column="PRODUCT_NAME" jdbcType="VARCHAR" />
		<result property="figureNo" column="FIGURE_NO" jdbcType="VARCHAR" />
		<result property="partNo" column="PART_NO" jdbcType="VARCHAR" />
		<result property="productionUnit" column="PRODUCTION_UNIT" jdbcType="VARCHAR" />
		<result property="flightHours" column="FLIGHT_HOURS" jdbcType="DECIMAL" />
		<result property="flightLanding" column="FLIGHT_LANDING" jdbcType="DECIMAL" />
		<result property="repairTime" column="REPAIR_TIME" jdbcType="TIMESTAMP" />
		<result property="occurrenceDate" column="OCCURRENCE_DATE" jdbcType="TIMESTAMP" />
		<result property="occurrenceTiming" column="OCCURRENCE_TIMING" jdbcType="VARCHAR" />
		<result property="chaperNo" column="CHAPER_NO" jdbcType="VARCHAR" />
		<result property="faultDesc" column="FAULT_DESC" jdbcType="VARCHAR" />
		<result property="distributionType" column="DISTRIBUTION_TYPE" jdbcType="VARCHAR" />
		<result property="requestManagerId" column="REQUEST_MANAGER_ID" jdbcType="VARCHAR" />
		<result property="requestManagerName" column="REQUEST_MANAGER_NAME" jdbcType="VARCHAR" />
		<result property="infoType" column="INFO_TYPE" jdbcType="VARCHAR" />
		<result property="faultType" column="FAULT_TYPE" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
		<result property="attribute11" column="ATTRIBUTE_11" jdbcType="DECIMAL" />
		<result property="attribute12" column="ATTRIBUTE_12" jdbcType="DECIMAL" />
		<result property="attribute13" column="ATTRIBUTE_13" jdbcType="TIMESTAMP" />
		<result property="attribute14" column="ATTRIBUTE_14" jdbcType="TIMESTAMP" />
		<result property="activityalias_" column="activityalias_" jdbcType="VARCHAR" />
		<result property="businessstate_" column="businessstate_" jdbcType="VARCHAR" />
</resultMap>
<!-- 分页查询 HDKF_SUPPORT_REQUEST_INFO -->
<select id="searchHdkfSupportRequestInfoByPage" parameterType="java.util.Map" resultMap="HdkfSupportRequestInfoDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.request_method                 ,
		t1.request_no                     ,
		t1.request_name                   ,
		t1.request_unit                   ,
		t1.link_man                       ,
		t1.link_phone                     ,
		t1.fax                            ,
		t1.request_date                   ,
		t1.batch_no                       ,
		t1.model_id                       ,
		t1.product_name                   ,
		t1.figure_no                      ,
		t1.part_no                        ,
		t1.production_unit                ,
		t1.flight_hours                   ,
		t1.flight_landing                 ,
		t1.repair_time                    ,
		t1.occurrence_date                ,
		t1.occurrence_timing              ,
		t1.chaper_no                      ,
		t1.fault_desc                     ,
		t1.distribution_type              ,
		t1.request_manager_id             ,
		t1.request_manager_name           ,
		t1.info_type                      ,
		t1.fault_type                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_request_info 	t1 left join BPM_CLIENT_HIST_PROCINST_V v on t1.id = v.formid_
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID like '%'||#{bean.id}||'%'
			</if>
			<if test="bean.requestMethod != null and bean.requestMethod != ''">
				and t1.REQUEST_METHOD like '%'||#{bean.requestMethod}||'%'
			</if>
			<if test="bean.requestNo != null and bean.requestNo != ''">
				and t1.REQUEST_NO like '%'||#{bean.requestNo}||'%'
			</if>
			<if test="bean.requestName != null and bean.requestName != ''">
				and t1.REQUEST_NAME like '%'||#{bean.requestName}||'%'
			</if>
			<if test="bean.requestUnit != null and bean.requestUnit != ''">
				and t1.REQUEST_UNIT like '%'||#{bean.requestUnit}||'%'
			</if>
			<if test="bean.linkMan != null and bean.linkMan != ''">
				and t1.LINK_MAN like '%'||#{bean.linkMan}||'%'
			</if>
			<if test="bean.linkPhone != null and bean.linkPhone != ''">
				and t1.LINK_PHONE like '%'||#{bean.linkPhone}||'%'
			</if>
			<if test="bean.fax != null and bean.fax != ''">
				and t1.FAX like '%'||#{bean.fax}||'%'
			</if>
			<if test="bean.requestDateBegin != null and bean.requestDateBegin != ''">
				and t1.REQUEST_DATE &gt;= #{bean.requestDateBegin}
			</if>
			<if test="bean.requestDateEnd != null and bean.requestDateEnd != ''">
				and t1.REQUEST_DATE &lt;= #{bean.requestDateEnd}
			</if>
			<if test="bean.batchNo != null and bean.batchNo != ''">
				and t1.BATCH_NO like '%'||#{bean.batchNo}||'%'
			</if>
			<if test="bean.modelId != null and bean.modelId != ''">
				and t1.MODEL_ID like '%'||#{bean.modelId}||'%'
			</if>
			<if test="bean.productName != null and bean.productName != ''">
				and t1.PRODUCT_NAME like '%'||#{bean.productName}||'%'
			</if>
			<if test="bean.figureNo != null and bean.figureNo != ''">
				and t1.FIGURE_NO like '%'||#{bean.figureNo}||'%'
			</if>
			<if test="bean.partNo != null and bean.partNo != ''">
				and t1.PART_NO like '%'||#{bean.partNo}||'%'
			</if>
			<if test="bean.productionUnit != null and bean.productionUnit != ''">
				and t1.PRODUCTION_UNIT like '%'||#{bean.productionUnit}||'%'
			</if>
			<if test="bean.flightHours != null and bean.flightHours != ''">
				and t1.FLIGHT_HOURS like '%'||#{bean.flightHours}||'%'
			</if>
			<if test="bean.flightLanding != null and bean.flightLanding != ''">
				and t1.FLIGHT_LANDING like '%'||#{bean.flightLanding}||'%'
			</if>
			<if test="bean.repairTimeBegin != null and bean.repairTimeBegin != ''">
				and t1.REPAIR_TIME &gt;= #{bean.repairTimeBegin}
			</if>
			<if test="bean.repairTimeEnd != null and bean.repairTimeEnd != ''">
				and t1.REPAIR_TIME &lt;= #{bean.repairTimeEnd}
			</if>
			<if test="bean.occurrenceDateBegin != null and bean.occurrenceDateBegin != ''">
				and t1.OCCURRENCE_DATE &gt;= #{bean.occurrenceDateBegin}
			</if>
			<if test="bean.occurrenceDateEnd != null and bean.occurrenceDateEnd != ''">
				and t1.OCCURRENCE_DATE &lt;= #{bean.occurrenceDateEnd}
			</if>
			<if test="bean.occurrenceTiming != null and bean.occurrenceTiming != ''">
				and t1.OCCURRENCE_TIMING like '%'||#{bean.occurrenceTiming}||'%'
			</if>
			<if test="bean.chaperNo != null and bean.chaperNo != ''">
				and t1.CHAPER_NO like '%'||#{bean.chaperNo}||'%'
			</if>
			<if test="bean.faultDesc != null and bean.faultDesc != ''">
				and t1.FAULT_DESC like '%'||#{bean.faultDesc}||'%'
			</if>
			<if test="bean.distributionType != null and bean.distributionType != ''">
				and t1.DISTRIBUTION_TYPE like '%'||#{bean.distributionType}||'%'
			</if>
			<if test="bean.requestManagerId != null and bean.requestManagerId != ''">
				and t1.REQUEST_MANAGER_ID like '%'||#{bean.requestManagerId}||'%'
			</if>
			<if test="bean.requestManagerName != null and bean.requestManagerName != ''">
				and t1.REQUEST_MANAGER_NAME like '%'||#{bean.requestManagerName}||'%'
			</if>
			<if test="bean.infoType != null and bean.infoType != ''">
				and t1.INFO_TYPE like '%'||#{bean.infoType}||'%'
			</if>
			<if test="bean.faultType != null and bean.faultType != ''">
				and t1.FAULT_TYPE like '%'||#{bean.faultType}||'%'
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like '%'||#{bean.createdBy}||'%'
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like '%'||#{bean.creationDate}||'%'
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like '%'||#{bean.lastUpdatedBy}||'%'
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like '%'||#{bean.lastUpdateDate}||'%'
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like '%'||#{bean.lastUpdateIp}||'%'
			</if>
			<if test="bean.version != null and bean.version != ''">
				and t1.VERSION like '%'||#{bean.version}||'%'
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like '%'||#{bean.attribute01}||'%'
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like '%'||#{bean.attribute02}||'%'
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like '%'||#{bean.attribute03}||'%'
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like '%'||#{bean.attribute04}||'%'
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like '%'||#{bean.attribute05}||'%'
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like '%'||#{bean.attribute06}||'%'
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like '%'||#{bean.attribute07}||'%'
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like '%'||#{bean.attribute08}||'%'
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like '%'||#{bean.attribute09}||'%'
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like '%'||#{bean.attribute10}||'%'
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				and t1.ATTRIBUTE_11 like '%'||#{bean.attribute11}||'%'
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				and t1.ATTRIBUTE_12 like '%'||#{bean.attribute12}||'%'
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				and t1.ATTRIBUTE_13 like '%'||#{bean.attribute13}||'%'
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				and t1.ATTRIBUTE_14 like '%'||#{bean.attribute14}||'%'
			</if>
			</if>
			<if test="bean.bpmType == 'my'">
				and exists (select 1 from BPM_CLIENT_HIST_TASK_V os where os.task_b_id_ = t1.id and os.assignee_ = #{bean.currUserId})
			</if>
			<if test="bean.bpmState != null and bean.bpmState != 'all'">
				and v.businessstate_ = #{bean.bpmState}
			</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
		</where>
			order by t1.creation_date desc
</select>
<!-- 查询列表 HDKF_SUPPORT_REQUEST_INFO -->
<select id="searchHdkfSupportRequestInfo" parameterType="java.util.Map" resultMap="HdkfSupportRequestInfoDTOMap">
	select
		t1.id                             ,
		t1.request_method                 ,
		t1.request_no                     ,
		t1.request_name                   ,
		t1.request_unit                   ,
		t1.link_man                       ,
		t1.link_phone                     ,
		t1.fax                            ,
		t1.request_date                   ,
		t1.batch_no                       ,
		t1.model_id                       ,
		t1.product_name                   ,
		t1.figure_no                      ,
		t1.part_no                        ,
		t1.production_unit                ,
		t1.flight_hours                   ,
		t1.flight_landing                 ,
		t1.repair_time                    ,
		t1.occurrence_date                ,
		t1.occurrence_timing              ,
		t1.chaper_no                      ,
		t1.fault_desc                     ,
		t1.distribution_type              ,
		t1.request_manager_id             ,
		t1.request_manager_name           ,
		t1.info_type                      ,
		t1.fault_type                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_request_info 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="requestMethod != null and requestMethod != ''">
				and t1.REQUEST_METHOD =#{requestMethod}
			</if>
			<if test="requestNo != null and requestNo != ''">
				and t1.REQUEST_NO =#{requestNo}
			</if>
			<if test="requestName != null and requestName != ''">
				and t1.REQUEST_NAME =#{requestName}
			</if>
			<if test="requestUnit != null and requestUnit != ''">
				and t1.REQUEST_UNIT =#{requestUnit}
			</if>
			<if test="linkMan != null and linkMan != ''">
				and t1.LINK_MAN =#{linkMan}
			</if>
			<if test="linkPhone != null and linkPhone != ''">
				and t1.LINK_PHONE =#{linkPhone}
			</if>
			<if test="fax != null and fax != ''">
				and t1.FAX =#{fax}
			</if>
			<if test="bean.requestDateBegin != null and bean.requestDateBegin != ''">
				and t1.REQUEST_DATE &gt;= #{bean.requestDateBegin}
			</if>
			<if test="bean.requestDateEnd != null and bean.requestDateEnd != ''">
				and t1.REQUEST_DATE &lt;= #{bean.requestDateEnd}
			</if>
			<if test="batchNo != null and batchNo != ''">
				and t1.BATCH_NO =#{batchNo}
			</if>
			<if test="modelId != null and modelId != ''">
				and t1.MODEL_ID =#{modelId}
			</if>
			<if test="productName != null and productName != ''">
				and t1.PRODUCT_NAME =#{productName}
			</if>
			<if test="figureNo != null and figureNo != ''">
				and t1.FIGURE_NO =#{figureNo}
			</if>
			<if test="partNo != null and partNo != ''">
				and t1.PART_NO =#{partNo}
			</if>
			<if test="productionUnit != null and productionUnit != ''">
				and t1.PRODUCTION_UNIT =#{productionUnit}
			</if>
			<if test="flightHours != null and flightHours != ''">
				and t1.FLIGHT_HOURS =#{flightHours}
			</if>
			<if test="flightLanding != null and flightLanding != ''">
				and t1.FLIGHT_LANDING =#{flightLanding}
			</if>
			<if test="bean.repairTimeBegin != null and bean.repairTimeBegin != ''">
				and t1.REPAIR_TIME &gt;= #{bean.repairTimeBegin}
			</if>
			<if test="bean.repairTimeEnd != null and bean.repairTimeEnd != ''">
				and t1.REPAIR_TIME &lt;= #{bean.repairTimeEnd}
			</if>
			<if test="bean.occurrenceDateBegin != null and bean.occurrenceDateBegin != ''">
				and t1.OCCURRENCE_DATE &gt;= #{bean.occurrenceDateBegin}
			</if>
			<if test="bean.occurrenceDateEnd != null and bean.occurrenceDateEnd != ''">
				and t1.OCCURRENCE_DATE &lt;= #{bean.occurrenceDateEnd}
			</if>
			<if test="occurrenceTiming != null and occurrenceTiming != ''">
				and t1.OCCURRENCE_TIMING =#{occurrenceTiming}
			</if>
			<if test="chaperNo != null and chaperNo != ''">
				and t1.CHAPER_NO =#{chaperNo}
			</if>
			<if test="faultDesc != null and faultDesc != ''">
				and t1.FAULT_DESC =#{faultDesc}
			</if>
			<if test="distributionType != null and distributionType != ''">
				and t1.DISTRIBUTION_TYPE =#{distributionType}
			</if>
			<if test="requestManagerId != null and requestManagerId != ''">
				and t1.REQUEST_MANAGER_ID =#{requestManagerId}
			</if>
			<if test="requestManagerName != null and requestManagerName != ''">
				and t1.REQUEST_MANAGER_NAME =#{requestManagerName}
			</if>
			<if test="infoType != null and infoType != ''">
				and t1.INFO_TYPE =#{infoType}
			</if>
			<if test="faultType != null and faultType != ''">
				and t1.FAULT_TYPE =#{faultType}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null and version != ''">
				and t1.VERSION =#{version}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null and attribute07 != ''">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null and attribute08 != ''">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
			<if test="attribute11 != null and attribute11 != ''">
				and t1.ATTRIBUTE_11 =#{attribute11}
			</if>
			<if test="attribute12 != null and attribute12 != ''">
				and t1.ATTRIBUTE_12 =#{attribute12}
			</if>
			<if test="attribute13 != null and attribute13 != ''">
				and t1.ATTRIBUTE_13 =#{attribute13}
			</if>
			<if test="attribute14 != null and attribute14 != ''">
				and t1.ATTRIBUTE_14 =#{attribute14}
			</if>
		</where>
</select>
<!-- 主键查询对象 HDKF_SUPPORT_REQUEST_INFO -->
<select id="findHdkfSupportRequestInfoById" parameterType="java.util.Map" resultMap="HdkfSupportRequestInfoDTOMap">
	select
		t1.id                             ,
		t1.request_method                 ,
		t1.request_no                     ,
		t1.request_name                   ,
		t1.request_unit                   ,
		t1.link_man                       ,
		t1.link_phone                     ,
		t1.fax                            ,
		t1.request_date                   ,
		t1.batch_no                       ,
		t1.model_id                       ,
		t1.product_name                   ,
		t1.figure_no                      ,
		t1.part_no                        ,
		t1.production_unit                ,
		t1.flight_hours                   ,
		t1.flight_landing                 ,
		t1.repair_time                    ,
		t1.occurrence_date                ,
		t1.occurrence_timing              ,
		t1.chaper_no                      ,
		t1.fault_desc                     ,
		t1.distribution_type              ,
		t1.request_manager_id             ,
		t1.request_manager_name           ,
		t1.info_type                      ,
		t1.fault_type                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_request_info 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 HDKF_SUPPORT_REQUEST_INFO -->
<insert id="insertHdkfSupportRequestInfo" parameterType="avicit.hdkf.support.hdkfsupportrequestinfo.dto.HdkfSupportRequestInfoDTO">
	insert into hdkf_support_request_info
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="requestMethod != null">
				request_method,
			</if>
			<if test="requestNo != null">
				request_no,
			</if>
			<if test="requestName != null">
				request_name,
			</if>
			<if test="requestUnit != null">
				request_unit,
			</if>
			<if test="linkMan != null">
				link_man,
			</if>
			<if test="linkPhone != null">
				link_phone,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="requestDate != null">
				request_date,
			</if>
			<if test="batchNo != null">
				batch_no,
			</if>
			<if test="modelId != null">
				model_id,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="figureNo != null">
				figure_no,
			</if>
			<if test="partNo != null">
				part_no,
			</if>
			<if test="productionUnit != null">
				production_unit,
			</if>
			<if test="flightHours != null">
				flight_hours,
			</if>
			<if test="flightLanding != null">
				flight_landing,
			</if>
			<if test="repairTime != null">
				repair_time,
			</if>
			<if test="occurrenceDate != null">
				occurrence_date,
			</if>
			<if test="occurrenceTiming != null">
				occurrence_timing,
			</if>
			<if test="chaperNo != null">
				chaper_no,
			</if>
			<if test="faultDesc != null">
				fault_desc,
			</if>
			<if test="distributionType != null">
				distribution_type,
			</if>
			<if test="requestManagerId != null">
				request_manager_id,
			</if>
			<if test="requestManagerName != null">
				request_manager_name,
			</if>
			<if test="infoType != null">
				info_type,
			</if>
			<if test="faultType != null">
				fault_type,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="attribute11 != null">
				attribute_11,
			</if>
			<if test="attribute12 != null">
				attribute_12,
			</if>
			<if test="attribute13 != null">
				attribute_13,
			</if>
			<if test="attribute14 != null">
				attribute_14,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="requestMethod != null">
				#{requestMethod,jdbcType=VARCHAR},
			</if>
			<if test="requestNo != null">
				#{requestNo,jdbcType=VARCHAR},
			</if>
			<if test="requestName != null">
				#{requestName,jdbcType=VARCHAR},
			</if>
			<if test="requestUnit != null">
				#{requestUnit,jdbcType=VARCHAR},
			</if>
			<if test="linkMan != null">
				#{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="linkPhone != null">
				#{linkPhone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="requestDate != null">
				#{requestDate,jdbcType=DATE},
			</if>
			<if test="batchNo != null">
				#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="modelId != null">
				#{modelId,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="figureNo != null">
				#{figureNo,jdbcType=VARCHAR},
			</if>
			<if test="partNo != null">
				#{partNo,jdbcType=VARCHAR},
			</if>
			<if test="productionUnit != null">
				#{productionUnit,jdbcType=VARCHAR},
			</if>
			<if test="flightHours != null">
				#{flightHours,jdbcType=DECIMAL},
			</if>
			<if test="flightLanding != null">
				#{flightLanding,jdbcType=DECIMAL},
			</if>
			<if test="repairTime != null">
				#{repairTime,jdbcType=DATE},
			</if>
			<if test="occurrenceDate != null">
				#{occurrenceDate,jdbcType=DATE},
			</if>
			<if test="occurrenceTiming != null">
				#{occurrenceTiming,jdbcType=VARCHAR},
			</if>
			<if test="chaperNo != null">
				#{chaperNo,jdbcType=VARCHAR},
			</if>
			<if test="faultDesc != null">
				#{faultDesc,jdbcType=VARCHAR},
			</if>
			<if test="distributionType != null">
				#{distributionType,jdbcType=VARCHAR},
			</if>
			<if test="requestManagerId != null">
				#{requestManagerId,jdbcType=VARCHAR},
			</if>
			<if test="requestManagerName != null">
				#{requestManagerName,jdbcType=VARCHAR},
			</if>
			<if test="infoType != null">
				#{infoType,jdbcType=VARCHAR},
			</if>
			<if test="faultType != null">
				#{faultType,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				#{attribute14,jdbcType=DATE},
			</if>
	</trim>
</insert>
<!-- 更新对象 HDKF_SUPPORT_REQUEST_INFO -->
<update id="updateHdkfSupportRequestInfoSensitive" parameterType="avicit.hdkf.support.hdkfsupportrequestinfo.dto.HdkfSupportRequestInfoDTO">
	update hdkf_support_request_info t1
	<set>
			<if test="id != null">
				t1.id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="requestMethod != null">
				t1.request_method                 =#{requestMethod,jdbcType=VARCHAR},
			</if>
			<if test="requestNo != null">
				t1.request_no                     =#{requestNo,jdbcType=VARCHAR},
			</if>
			<if test="requestName != null">
				t1.request_name                   =#{requestName,jdbcType=VARCHAR},
			</if>
			<if test="requestUnit != null">
				t1.request_unit                   =#{requestUnit,jdbcType=VARCHAR},
			</if>
			<if test="linkMan != null">
				t1.link_man                       =#{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="linkPhone != null">
				t1.link_phone                     =#{linkPhone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				t1.fax                            =#{fax,jdbcType=VARCHAR},
			</if>
			<if test="requestDate != null">
				t1.request_date                   =#{requestDate,jdbcType=DATE},
			</if>
			<if test="batchNo != null">
				t1.batch_no                       =#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="modelId != null">
				t1.model_id                       =#{modelId,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				t1.product_name                   =#{productName,jdbcType=VARCHAR},
			</if>
			<if test="figureNo != null">
				t1.figure_no                      =#{figureNo,jdbcType=VARCHAR},
			</if>
			<if test="partNo != null">
				t1.part_no                        =#{partNo,jdbcType=VARCHAR},
			</if>
			<if test="productionUnit != null">
				t1.production_unit                =#{productionUnit,jdbcType=VARCHAR},
			</if>
			<if test="flightHours != null">
				t1.flight_hours                   =#{flightHours,jdbcType=DECIMAL},
			</if>
			<if test="flightLanding != null">
				t1.flight_landing                 =#{flightLanding,jdbcType=DECIMAL},
			</if>
			<if test="repairTime != null">
				t1.repair_time                    =#{repairTime,jdbcType=DATE},
			</if>
			<if test="occurrenceDate != null">
				t1.occurrence_date                =#{occurrenceDate,jdbcType=DATE},
			</if>
			<if test="occurrenceTiming != null">
				t1.occurrence_timing              =#{occurrenceTiming,jdbcType=VARCHAR},
			</if>
			<if test="chaperNo != null">
				t1.chaper_no                      =#{chaperNo,jdbcType=VARCHAR},
			</if>
			<if test="faultDesc != null">
				t1.fault_desc                     =#{faultDesc,jdbcType=VARCHAR},
			</if>
			<if test="distributionType != null">
				t1.distribution_type              =#{distributionType,jdbcType=VARCHAR},
			</if>
			<if test="requestManagerId != null">
				t1.request_manager_id             =#{requestManagerId,jdbcType=VARCHAR},
			</if>
			<if test="requestManagerName != null">
				t1.request_manager_name           =#{requestManagerName,jdbcType=VARCHAR},
			</if>
			<if test="infoType != null">
				t1.info_type                      =#{infoType,jdbcType=VARCHAR},
			</if>
			<if test="faultType != null">
				t1.fault_type                     =#{faultType,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				t1.creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				t1.last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				t1.version                        =t1.version+1,
			</if>
			<if test="attribute01 != null">
				t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				t1.attribute_14                   =#{attribute14,jdbcType=DATE},
			</if>
	</set>
		where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 更新对象 HDKF_SUPPORT_REQUEST_INFO -->
<update id="updateHdkfSupportRequestInfoAll" parameterType="avicit.hdkf.support.hdkfsupportrequestinfo.dto.HdkfSupportRequestInfoDTO">
	update hdkf_support_request_info t1
		set
			t1.id                             =#{id,jdbcType=VARCHAR},
			t1.request_method                 =#{requestMethod,jdbcType=VARCHAR},
			t1.request_no                     =#{requestNo,jdbcType=VARCHAR},
			t1.request_name                   =#{requestName,jdbcType=VARCHAR},
			t1.request_unit                   =#{requestUnit,jdbcType=VARCHAR},
			t1.link_man                       =#{linkMan,jdbcType=VARCHAR},
			t1.link_phone                     =#{linkPhone,jdbcType=VARCHAR},
			t1.fax                            =#{fax,jdbcType=VARCHAR},
			t1.request_date                   =#{requestDate,jdbcType=DATE},
			t1.batch_no                       =#{batchNo,jdbcType=VARCHAR},
			t1.model_id                       =#{modelId,jdbcType=VARCHAR},
			t1.product_name                   =#{productName,jdbcType=VARCHAR},
			t1.figure_no                      =#{figureNo,jdbcType=VARCHAR},
			t1.part_no                        =#{partNo,jdbcType=VARCHAR},
			t1.production_unit                =#{productionUnit,jdbcType=VARCHAR},
			t1.flight_hours                   =#{flightHours,jdbcType=DECIMAL},
			t1.flight_landing                 =#{flightLanding,jdbcType=DECIMAL},
			t1.repair_time                    =#{repairTime,jdbcType=DATE},
			t1.occurrence_date                =#{occurrenceDate,jdbcType=DATE},
			t1.occurrence_timing              =#{occurrenceTiming,jdbcType=VARCHAR},
			t1.chaper_no                      =#{chaperNo,jdbcType=VARCHAR},
			t1.fault_desc                     =#{faultDesc,jdbcType=VARCHAR},
			t1.distribution_type              =#{distributionType,jdbcType=VARCHAR},
			t1.request_manager_id             =#{requestManagerId,jdbcType=VARCHAR},
			t1.request_manager_name           =#{requestManagerName,jdbcType=VARCHAR},
			t1.info_type                      =#{infoType,jdbcType=VARCHAR},
			t1.fault_type                     =#{faultType,jdbcType=VARCHAR},
			t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			t1.creation_date                  =#{creationDate},
			t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			t1.last_update_date               =#{lastUpdateDate},
			t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			t1.version                        =t1.version+1,
			t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			t1.attribute_14                   =#{attribute14,jdbcType=DATE},
	where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 主键删除 HDKF_SUPPORT_REQUEST_INFO -->
<delete id="deleteHdkfSupportRequestInfoById" parameterType="java.lang.String">
		delete from hdkf_support_request_info  where  id = #{id}
</delete>
</mapper>