<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.hdkf.support.hdkfsupportborrowpersoninf.dao.HdkfSupportBorrowPersonInfDao">

<resultMap id="HdkfSupportBorrowPersonInfDTOMap" type="avicit.hdkf.support.hdkfsupportborrowpersoninf.dto.HdkfSupportBorrowPersonInfDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="taskId" column="TASK_ID" jdbcType="VARCHAR" />
		<result property="taskNo" column="TASK_NO" jdbcType="VARCHAR" />
		<result property="borrowName" column="BORROW_NAME" jdbcType="VARCHAR" />
		<result property="borrowDept" column="BORROW_DEPT" jdbcType="VARCHAR" />
		<result property="borrowNumber" column="BORROW_NUMBER" jdbcType="DECIMAL" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="estimateDate" column="ESTIMATE_DATE" jdbcType="TIMESTAMP" />
		<result property="major" column="MAJOR" jdbcType="VARCHAR" />
		<result property="linkManKf" column="LINK_MAN_KF" jdbcType="VARCHAR" />
		<result property="linkPhoneKf" column="LINK_PHONE_KF" jdbcType="VARCHAR" />
		<result property="taskDemand" column="TASK_DEMAND" jdbcType="VARCHAR" />
		<result property="linkManBorrowed" column="LINK_MAN_BORROWED" jdbcType="VARCHAR" />
		<result property="linkPhoneBorrowed" column="LINK_PHONE_BORROWED" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
		<result property="attribute11" column="ATTRIBUTE_11" jdbcType="DECIMAL" />
		<result property="attribute12" column="ATTRIBUTE_12" jdbcType="DECIMAL" />
		<result property="attribute13" column="ATTRIBUTE_13" jdbcType="TIMESTAMP" />
		<result property="attribute14" column="ATTRIBUTE_14" jdbcType="TIMESTAMP" />
		<result property="activityalias_" column="activityalias_" jdbcType="VARCHAR" />
		<result property="businessstate_" column="businessstate_" jdbcType="VARCHAR" />
</resultMap>
<!-- 分页查询 HDKF_SUPPORT_BORROW_PERSON_INF -->
<select id="searchHdkfSupportBorrowPersonInfByPage" parameterType="java.util.Map" resultMap="HdkfSupportBorrowPersonInfDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.task_id                        ,
		t1.task_no                        ,
		t1.borrow_name                    ,
		t1.borrow_dept                    ,
		t1.borrow_number                  ,
		t1.address                        ,
		t1.estimate_date                  ,
		t1.major                          ,
		t1.link_man_kf                    ,
		t1.link_phone_kf                  ,
		t1.task_demand                    ,
		t1.link_man_borrowed              ,
		t1.link_phone_borrowed            ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_borrow_person_inf 	t1 left join BPM_CLIENT_HIST_PROCINST_V v on t1.id = v.formid_
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID like '%'||#{bean.id}||'%'
			</if>
			<if test="bean.taskId != null and bean.taskId != ''">
				and t1.TASK_ID like '%'||#{bean.taskId}||'%'
			</if>
			<if test="bean.taskNo != null and bean.taskNo != ''">
				and t1.TASK_NO like '%'||#{bean.taskNo}||'%'
			</if>
			<if test="bean.borrowName != null and bean.borrowName != ''">
				and t1.BORROW_NAME like '%'||#{bean.borrowName}||'%'
			</if>
			<if test="bean.borrowDept != null and bean.borrowDept != ''">
				and t1.BORROW_DEPT like '%'||#{bean.borrowDept}||'%'
			</if>
			<if test="bean.borrowNumber != null and bean.borrowNumber != ''">
				and t1.BORROW_NUMBER like '%'||#{bean.borrowNumber}||'%'
			</if>
			<if test="bean.address != null and bean.address != ''">
				and t1.ADDRESS like '%'||#{bean.address}||'%'
			</if>
			<if test="bean.estimateDateBegin != null and bean.estimateDateBegin != ''">
				and t1.ESTIMATE_DATE &gt;= #{bean.estimateDateBegin}
			</if>
			<if test="bean.estimateDateEnd != null and bean.estimateDateEnd != ''">
				and t1.ESTIMATE_DATE &lt;= #{bean.estimateDateEnd}
			</if>
			<if test="bean.major != null and bean.major != ''">
				and t1.MAJOR like '%'||#{bean.major}||'%'
			</if>
			<if test="bean.linkManKf != null and bean.linkManKf != ''">
				and t1.LINK_MAN_KF like '%'||#{bean.linkManKf}||'%'
			</if>
			<if test="bean.linkPhoneKf != null and bean.linkPhoneKf != ''">
				and t1.LINK_PHONE_KF like '%'||#{bean.linkPhoneKf}||'%'
			</if>
			<if test="bean.taskDemand != null and bean.taskDemand != ''">
				and t1.TASK_DEMAND like '%'||#{bean.taskDemand}||'%'
			</if>
			<if test="bean.linkManBorrowed != null and bean.linkManBorrowed != ''">
				and t1.LINK_MAN_BORROWED like '%'||#{bean.linkManBorrowed}||'%'
			</if>
			<if test="bean.linkPhoneBorrowed != null and bean.linkPhoneBorrowed != ''">
				and t1.LINK_PHONE_BORROWED like '%'||#{bean.linkPhoneBorrowed}||'%'
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like '%'||#{bean.createdBy}||'%'
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like '%'||#{bean.creationDate}||'%'
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like '%'||#{bean.lastUpdatedBy}||'%'
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like '%'||#{bean.lastUpdateDate}||'%'
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like '%'||#{bean.lastUpdateIp}||'%'
			</if>
			<if test="bean.version != null and bean.version != ''">
				and t1.VERSION like '%'||#{bean.version}||'%'
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like '%'||#{bean.attribute01}||'%'
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like '%'||#{bean.attribute02}||'%'
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like '%'||#{bean.attribute03}||'%'
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like '%'||#{bean.attribute04}||'%'
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like '%'||#{bean.attribute05}||'%'
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like '%'||#{bean.attribute06}||'%'
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like '%'||#{bean.attribute07}||'%'
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like '%'||#{bean.attribute08}||'%'
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like '%'||#{bean.attribute09}||'%'
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like '%'||#{bean.attribute10}||'%'
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				and t1.ATTRIBUTE_11 like '%'||#{bean.attribute11}||'%'
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				and t1.ATTRIBUTE_12 like '%'||#{bean.attribute12}||'%'
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				and t1.ATTRIBUTE_13 like '%'||#{bean.attribute13}||'%'
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				and t1.ATTRIBUTE_14 like '%'||#{bean.attribute14}||'%'
			</if>
			</if>
			<if test="bean.bpmType == 'my'">
				and exists (select 1 from BPM_CLIENT_HIST_TASK_V os where os.task_b_id_ = t1.id and os.assignee_ = #{bean.currUserId})
			</if>
			<if test="bean.bpmState != null and bean.bpmState != 'all'">
				and v.businessstate_ = #{bean.bpmState}
			</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
		</where>
			order by t1.creation_date desc
</select>
<!-- 查询列表 HDKF_SUPPORT_BORROW_PERSON_INF -->
<select id="searchHdkfSupportBorrowPersonInf" parameterType="java.util.Map" resultMap="HdkfSupportBorrowPersonInfDTOMap">
	select
		t1.id                             ,
		t1.task_id                        ,
		t1.task_no                        ,
		t1.borrow_name                    ,
		t1.borrow_dept                    ,
		t1.borrow_number                  ,
		t1.address                        ,
		t1.estimate_date                  ,
		t1.major                          ,
		t1.link_man_kf                    ,
		t1.link_phone_kf                  ,
		t1.task_demand                    ,
		t1.link_man_borrowed              ,
		t1.link_phone_borrowed            ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_borrow_person_inf 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="taskId != null and taskId != ''">
				and t1.TASK_ID =#{taskId}
			</if>
			<if test="taskNo != null and taskNo != ''">
				and t1.TASK_NO =#{taskNo}
			</if>
			<if test="borrowName != null and borrowName != ''">
				and t1.BORROW_NAME =#{borrowName}
			</if>
			<if test="borrowDept != null and borrowDept != ''">
				and t1.BORROW_DEPT =#{borrowDept}
			</if>
			<if test="borrowNumber != null and borrowNumber != ''">
				and t1.BORROW_NUMBER =#{borrowNumber}
			</if>
			<if test="address != null and address != ''">
				and t1.ADDRESS =#{address}
			</if>
			<if test="bean.estimateDateBegin != null and bean.estimateDateBegin != ''">
				and t1.ESTIMATE_DATE &gt;= #{bean.estimateDateBegin}
			</if>
			<if test="bean.estimateDateEnd != null and bean.estimateDateEnd != ''">
				and t1.ESTIMATE_DATE &lt;= #{bean.estimateDateEnd}
			</if>
			<if test="major != null and major != ''">
				and t1.MAJOR =#{major}
			</if>
			<if test="linkManKf != null and linkManKf != ''">
				and t1.LINK_MAN_KF =#{linkManKf}
			</if>
			<if test="linkPhoneKf != null and linkPhoneKf != ''">
				and t1.LINK_PHONE_KF =#{linkPhoneKf}
			</if>
			<if test="taskDemand != null and taskDemand != ''">
				and t1.TASK_DEMAND =#{taskDemand}
			</if>
			<if test="linkManBorrowed != null and linkManBorrowed != ''">
				and t1.LINK_MAN_BORROWED =#{linkManBorrowed}
			</if>
			<if test="linkPhoneBorrowed != null and linkPhoneBorrowed != ''">
				and t1.LINK_PHONE_BORROWED =#{linkPhoneBorrowed}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null and version != ''">
				and t1.VERSION =#{version}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null and attribute07 != ''">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null and attribute08 != ''">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
			<if test="attribute11 != null and attribute11 != ''">
				and t1.ATTRIBUTE_11 =#{attribute11}
			</if>
			<if test="attribute12 != null and attribute12 != ''">
				and t1.ATTRIBUTE_12 =#{attribute12}
			</if>
			<if test="attribute13 != null and attribute13 != ''">
				and t1.ATTRIBUTE_13 =#{attribute13}
			</if>
			<if test="attribute14 != null and attribute14 != ''">
				and t1.ATTRIBUTE_14 =#{attribute14}
			</if>
		</where>
</select>
<!-- 主键查询对象 HDKF_SUPPORT_BORROW_PERSON_INF -->
<select id="findHdkfSupportBorrowPersonInfById" parameterType="java.util.Map" resultMap="HdkfSupportBorrowPersonInfDTOMap">
	select
		t1.id                             ,
		t1.task_id                        ,
		t1.task_no                        ,
		t1.borrow_name                    ,
		t1.borrow_dept                    ,
		t1.borrow_number                  ,
		t1.address                        ,
		t1.estimate_date                  ,
		t1.major                          ,
		t1.link_man_kf                    ,
		t1.link_phone_kf                  ,
		t1.task_demand                    ,
		t1.link_man_borrowed              ,
		t1.link_phone_borrowed            ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_support_borrow_person_inf 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 HDKF_SUPPORT_BORROW_PERSON_INF -->
<insert id="insertHdkfSupportBorrowPersonInf" parameterType="avicit.hdkf.support.hdkfsupportborrowpersoninf.dto.HdkfSupportBorrowPersonInfDTO">
	insert into hdkf_support_borrow_person_inf
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taskId != null">
				task_id,
			</if>
			<if test="taskNo != null">
				task_no,
			</if>
			<if test="borrowName != null">
				borrow_name,
			</if>
			<if test="borrowDept != null">
				borrow_dept,
			</if>
			<if test="borrowNumber != null">
				borrow_number,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="estimateDate != null">
				estimate_date,
			</if>
			<if test="major != null">
				major,
			</if>
			<if test="linkManKf != null">
				link_man_kf,
			</if>
			<if test="linkPhoneKf != null">
				link_phone_kf,
			</if>
			<if test="taskDemand != null">
				task_demand,
			</if>
			<if test="linkManBorrowed != null">
				link_man_borrowed,
			</if>
			<if test="linkPhoneBorrowed != null">
				link_phone_borrowed,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="attribute11 != null">
				attribute_11,
			</if>
			<if test="attribute12 != null">
				attribute_12,
			</if>
			<if test="attribute13 != null">
				attribute_13,
			</if>
			<if test="attribute14 != null">
				attribute_14,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				#{taskId,jdbcType=VARCHAR},
			</if>
			<if test="taskNo != null">
				#{taskNo,jdbcType=VARCHAR},
			</if>
			<if test="borrowName != null">
				#{borrowName,jdbcType=VARCHAR},
			</if>
			<if test="borrowDept != null">
				#{borrowDept,jdbcType=VARCHAR},
			</if>
			<if test="borrowNumber != null">
				#{borrowNumber,jdbcType=DECIMAL},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="estimateDate != null">
				#{estimateDate,jdbcType=DATE},
			</if>
			<if test="major != null">
				#{major,jdbcType=VARCHAR},
			</if>
			<if test="linkManKf != null">
				#{linkManKf,jdbcType=VARCHAR},
			</if>
			<if test="linkPhoneKf != null">
				#{linkPhoneKf,jdbcType=VARCHAR},
			</if>
			<if test="taskDemand != null">
				#{taskDemand,jdbcType=VARCHAR},
			</if>
			<if test="linkManBorrowed != null">
				#{linkManBorrowed,jdbcType=VARCHAR},
			</if>
			<if test="linkPhoneBorrowed != null">
				#{linkPhoneBorrowed,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				#{attribute14,jdbcType=DATE},
			</if>
	</trim>
</insert>
<!-- 更新对象 HDKF_SUPPORT_BORROW_PERSON_INF -->
<update id="updateHdkfSupportBorrowPersonInfSensitive" parameterType="avicit.hdkf.support.hdkfsupportborrowpersoninf.dto.HdkfSupportBorrowPersonInfDTO">
	update hdkf_support_borrow_person_inf t1
	<set>
			<if test="id != null">
				t1.id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				t1.task_id                        =#{taskId,jdbcType=VARCHAR},
			</if>
			<if test="taskNo != null">
				t1.task_no                        =#{taskNo,jdbcType=VARCHAR},
			</if>
			<if test="borrowName != null">
				t1.borrow_name                    =#{borrowName,jdbcType=VARCHAR},
			</if>
			<if test="borrowDept != null">
				t1.borrow_dept                    =#{borrowDept,jdbcType=VARCHAR},
			</if>
			<if test="borrowNumber != null">
				t1.borrow_number                  =#{borrowNumber,jdbcType=DECIMAL},
			</if>
			<if test="address != null">
				t1.address                        =#{address,jdbcType=VARCHAR},
			</if>
			<if test="estimateDate != null">
				t1.estimate_date                  =#{estimateDate,jdbcType=DATE},
			</if>
			<if test="major != null">
				t1.major                          =#{major,jdbcType=VARCHAR},
			</if>
			<if test="linkManKf != null">
				t1.link_man_kf                    =#{linkManKf,jdbcType=VARCHAR},
			</if>
			<if test="linkPhoneKf != null">
				t1.link_phone_kf                  =#{linkPhoneKf,jdbcType=VARCHAR},
			</if>
			<if test="taskDemand != null">
				t1.task_demand                    =#{taskDemand,jdbcType=VARCHAR},
			</if>
			<if test="linkManBorrowed != null">
				t1.link_man_borrowed              =#{linkManBorrowed,jdbcType=VARCHAR},
			</if>
			<if test="linkPhoneBorrowed != null">
				t1.link_phone_borrowed            =#{linkPhoneBorrowed,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				t1.creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				t1.last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				t1.version                        =t1.version+1,
			</if>
			<if test="attribute01 != null">
				t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				t1.attribute_14                   =#{attribute14,jdbcType=DATE},
			</if>
	</set>
		where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 更新对象 HDKF_SUPPORT_BORROW_PERSON_INF -->
<update id="updateHdkfSupportBorrowPersonInfAll" parameterType="avicit.hdkf.support.hdkfsupportborrowpersoninf.dto.HdkfSupportBorrowPersonInfDTO">
	update hdkf_support_borrow_person_inf t1
		set
			t1.id                             =#{id,jdbcType=VARCHAR},
			t1.task_id                        =#{taskId,jdbcType=VARCHAR},
			t1.task_no                        =#{taskNo,jdbcType=VARCHAR},
			t1.borrow_name                    =#{borrowName,jdbcType=VARCHAR},
			t1.borrow_dept                    =#{borrowDept,jdbcType=VARCHAR},
			t1.borrow_number                  =#{borrowNumber,jdbcType=DECIMAL},
			t1.address                        =#{address,jdbcType=VARCHAR},
			t1.estimate_date                  =#{estimateDate,jdbcType=DATE},
			t1.major                          =#{major,jdbcType=VARCHAR},
			t1.link_man_kf                    =#{linkManKf,jdbcType=VARCHAR},
			t1.link_phone_kf                  =#{linkPhoneKf,jdbcType=VARCHAR},
			t1.task_demand                    =#{taskDemand,jdbcType=VARCHAR},
			t1.link_man_borrowed              =#{linkManBorrowed,jdbcType=VARCHAR},
			t1.link_phone_borrowed            =#{linkPhoneBorrowed,jdbcType=VARCHAR},
			t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			t1.creation_date                  =#{creationDate},
			t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			t1.last_update_date               =#{lastUpdateDate},
			t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			t1.version                        =t1.version+1,
			t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			t1.attribute_14                   =#{attribute14,jdbcType=DATE},
	where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 主键删除 HDKF_SUPPORT_BORROW_PERSON_INF -->
<delete id="deleteHdkfSupportBorrowPersonInfById" parameterType="java.lang.String">
		delete from hdkf_support_borrow_person_inf  where  id = #{id}
</delete>
</mapper>