<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.hdkf.esnotice.hdkfesnoticeinfoeffective.dao.HdkfEsNoticeinfoEffectiveDao">

<resultMap id="HdkfEsNoticeinfoEffectiveDTOMap" type="avicit.hdkf.esnotice.hdkfesnoticeinfoeffective.dto.HdkfEsNoticeinfoEffectiveDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="aircraftinfoId" column="AIRCRAFTINFO_ID" jdbcType="VARCHAR" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="modelName" column="MODEL_NAME" jdbcType="VARCHAR" />
		<result property="bulletinId" column="BULLETIN_ID" jdbcType="VARCHAR" />
		<result property="bulletinNo" column="BULLETIN_NO" jdbcType="VARCHAR" />
		<result property="customerId" column="CUSTOMER_ID" jdbcType="VARCHAR" />
		<result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR" />
		<result property="doFlag" column="DO_FLAG" jdbcType="VARCHAR" />
		<result property="planTime" column="PLAN_TIME" jdbcType="TIMESTAMP" />
		<result property="doTime" column="DO_TIME" jdbcType="TIMESTAMP" />
		<result property="undoReason" column="UNDO_REASON" jdbcType="VARCHAR" />
		<result property="userComments" column="USER_COMMENTS" jdbcType="VARCHAR" />
		<result property="writeName" column="WRITE_NAME" jdbcType="VARCHAR" />
		<result property="completeDate" column="COMPLETE_DATE" jdbcType="TIMESTAMP" />
		<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
		<result property="attribute11" column="ATTRIBUTE_11" jdbcType="DECIMAL" />
		<result property="attribute12" column="ATTRIBUTE_12" jdbcType="DECIMAL" />
		<result property="attribute13" column="ATTRIBUTE_13" jdbcType="TIMESTAMP" />
		<result property="attribute14" column="ATTRIBUTE_14" jdbcType="TIMESTAMP" />
		<result property="activityalias_" column="activityalias_" jdbcType="VARCHAR" />
		<result property="businessstate_" column="businessstate_" jdbcType="VARCHAR" />
</resultMap>
<!-- 分页查询 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<select id="searchHdkfEsNoticeinfoEffectiveByPage" parameterType="java.util.Map" resultMap="HdkfEsNoticeinfoEffectiveDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.aircraftinfo_id                ,
		t1.batch_no                       ,
		t1.model_name                     ,
		t1.bulletin_id                    ,
		t1.bulletin_no                    ,
		t1.customer_id                    ,
		t1.customer_name                  ,
		t1.do_flag                        ,
		t1.plan_time                      ,
		t1.do_time                        ,
		t1.undo_reason                    ,
		t1.user_comments                  ,
		t1.write_name                     ,
		t1.complete_date                  ,
		t1.remarks                        ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_es_noticeinfo_effective 	t1 left join bpm_entry_v v on t1.id = v.formid_ 
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID like '%'||#{bean.id}||'%'
			</if>
			<if test="bean.aircraftinfoId != null and bean.aircraftinfoId != ''">
				and t1.AIRCRAFTINFO_ID like '%'||#{bean.aircraftinfoId}||'%'
			</if>
			<if test="bean.batchNo != null and bean.batchNo != ''">
				and t1.BATCH_NO like '%'||#{bean.batchNo}||'%'
			</if>
			<if test="bean.modelName != null and bean.modelName != ''">
				and t1.MODEL_NAME like '%'||#{bean.modelName}||'%'
			</if>
			<if test="bean.bulletinId != null and bean.bulletinId != ''">
				and t1.BULLETIN_ID like '%'||#{bean.bulletinId}||'%'
			</if>
			<if test="bean.bulletinNo != null and bean.bulletinNo != ''">
				and t1.BULLETIN_NO like '%'||#{bean.bulletinNo}||'%'
			</if>
			<if test="bean.customerId != null and bean.customerId != ''">
				and t1.CUSTOMER_ID like '%'||#{bean.customerId}||'%'
			</if>
			<if test="bean.customerName != null and bean.customerName != ''">
				and t1.CUSTOMER_NAME like '%'||#{bean.customerName}||'%'
			</if>
			<if test="bean.doFlag != null and bean.doFlag != ''">
				and t1.DO_FLAG like '%'||#{bean.doFlag}||'%'
			</if>
			<if test="bean.planTimeBegin != null and bean.planTimeBegin != ''">
				and t1.PLAN_TIME &gt;= #{bean.planTimeBegin}
			</if>
			<if test="bean.planTimeEnd != null and bean.planTimeEnd != ''">
				and t1.PLAN_TIME &lt;= #{bean.planTimeEnd}
			</if>
			<if test="bean.doTimeBegin != null and bean.doTimeBegin != ''">
				and t1.DO_TIME &gt;= #{bean.doTimeBegin}
			</if>
			<if test="bean.doTimeEnd != null and bean.doTimeEnd != ''">
				and t1.DO_TIME &lt;= #{bean.doTimeEnd}
			</if>
			<if test="bean.undoReason != null and bean.undoReason != ''">
				and t1.UNDO_REASON like '%'||#{bean.undoReason}||'%'
			</if>
			<if test="bean.userComments != null and bean.userComments != ''">
				and t1.USER_COMMENTS like '%'||#{bean.userComments}||'%'
			</if>
			<if test="bean.writeName != null and bean.writeName != ''">
				and t1.WRITE_NAME like '%'||#{bean.writeName}||'%'
			</if>
			<if test="bean.completeDateBegin != null and bean.completeDateBegin != ''">
				and t1.COMPLETE_DATE &gt;= #{bean.completeDateBegin}
			</if>
			<if test="bean.completeDateEnd != null and bean.completeDateEnd != ''">
				and t1.COMPLETE_DATE &lt;= #{bean.completeDateEnd}
			</if>
			<if test="bean.remarks != null and bean.remarks != ''">
				and t1.REMARKS like '%'||#{bean.remarks}||'%'
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like '%'||#{bean.createdBy}||'%'
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like '%'||#{bean.creationDate}||'%'
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like '%'||#{bean.lastUpdatedBy}||'%'
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like '%'||#{bean.lastUpdateDate}||'%'
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like '%'||#{bean.lastUpdateIp}||'%'
			</if>
			<if test="bean.version != null and bean.version != ''">
				and t1.VERSION like '%'||#{bean.version}||'%'
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like '%'||#{bean.attribute01}||'%'
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like '%'||#{bean.attribute02}||'%'
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like '%'||#{bean.attribute03}||'%'
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like '%'||#{bean.attribute04}||'%'
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like '%'||#{bean.attribute05}||'%'
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like '%'||#{bean.attribute06}||'%'
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like '%'||#{bean.attribute07}||'%'
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like '%'||#{bean.attribute08}||'%'
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like '%'||#{bean.attribute09}||'%'
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like '%'||#{bean.attribute10}||'%'
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				and t1.ATTRIBUTE_11 like '%'||#{bean.attribute11}||'%'
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				and t1.ATTRIBUTE_12 like '%'||#{bean.attribute12}||'%'
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				and t1.ATTRIBUTE_13 like '%'||#{bean.attribute13}||'%'
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				and t1.ATTRIBUTE_14 like '%'||#{bean.attribute14}||'%'
			</if>
		
</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
		</where>
			order by t1.creation_date desc
</select>
<!-- 分页查询 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<select id="searchHdkfEsNoticeinfoEffective1ByPage" parameterType="java.util.Map" resultMap="HdkfEsNoticeinfoEffectiveDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.aircraftinfo_id                ,
		t1.batch_no                       ,
		t1.model_name                     ,
		t1.bulletin_id                    ,
		t1.bulletin_no                    ,
		t1.customer_id                    ,
		t1.customer_name                  ,
		t1.do_flag                        ,
		t1.plan_time                      ,
		t1.do_time                        ,
		t1.undo_reason                    ,
		t1.user_comments                  ,
		t1.write_name                     ,
		t1.complete_date                  ,
		t1.remarks                        ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_es_noticeinfo_effective 	t1 left join bpm_entry_v v on t1.id = v.formid_ 
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID like '%'||#{bean.id}||'%'
			</if>
			<if test="bean.aircraftinfoId != null and bean.aircraftinfoId != ''">
				and t1.AIRCRAFTINFO_ID like '%'||#{bean.aircraftinfoId}||'%'
			</if>
			<if test="bean.batchNo != null and bean.batchNo != ''">
				and t1.BATCH_NO like ''||#{bean.batchNo}||''
			</if>
			<if test="bean.modelName != null and bean.modelName != ''">
				and t1.MODEL_NAME like '%'||#{bean.modelName}||'%'
			</if>
			<if test="bean.bulletinId != null and bean.bulletinId != ''">
				and t1.BULLETIN_ID like '%'||#{bean.bulletinId}||'%'
			</if>
			<if test="bean.bulletinNo != null and bean.bulletinNo != ''">
				and t1.BULLETIN_NO like '%'||#{bean.bulletinNo}||'%'
			</if>
			<if test="bean.customerId != null and bean.customerId != ''">
				and t1.CUSTOMER_ID like '%'||#{bean.customerId}||'%'
			</if>
			<if test="bean.customerName != null and bean.customerName != ''">
				and t1.CUSTOMER_NAME like '%'||#{bean.customerName}||'%'
			</if>
			<if test="bean.doFlag != null and bean.doFlag != ''">
				and t1.DO_FLAG like '%'||#{bean.doFlag}||'%'
			</if>
			<if test="bean.planTimeBegin != null and bean.planTimeBegin != ''">
				and t1.PLAN_TIME &gt;= #{bean.planTimeBegin}
			</if>
			<if test="bean.planTimeEnd != null and bean.planTimeEnd != ''">
				and t1.PLAN_TIME &lt;= #{bean.planTimeEnd}
			</if>
			<if test="bean.doTimeBegin != null and bean.doTimeBegin != ''">
				and t1.DO_TIME &gt;= #{bean.doTimeBegin}
			</if>
			<if test="bean.doTimeEnd != null and bean.doTimeEnd != ''">
				and t1.DO_TIME &lt;= #{bean.doTimeEnd}
			</if>
			<if test="bean.undoReason != null and bean.undoReason != ''">
				and t1.UNDO_REASON like '%'||#{bean.undoReason}||'%'
			</if>
			<if test="bean.userComments != null and bean.userComments != ''">
				and t1.USER_COMMENTS like '%'||#{bean.userComments}||'%'
			</if>
			<if test="bean.writeName != null and bean.writeName != ''">
				and t1.WRITE_NAME like '%'||#{bean.writeName}||'%'
			</if>
			<if test="bean.completeDateBegin != null and bean.completeDateBegin != ''">
				and t1.COMPLETE_DATE &gt;= #{bean.completeDateBegin}
			</if>
			<if test="bean.completeDateEnd != null and bean.completeDateEnd != ''">
				and t1.COMPLETE_DATE &lt;= #{bean.completeDateEnd}
			</if>
			<if test="bean.remarks != null and bean.remarks != ''">
				and t1.REMARKS like '%'||#{bean.remarks}||'%'
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like '%'||#{bean.createdBy}||'%'
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like '%'||#{bean.creationDate}||'%'
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like '%'||#{bean.lastUpdatedBy}||'%'
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like '%'||#{bean.lastUpdateDate}||'%'
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like '%'||#{bean.lastUpdateIp}||'%'
			</if>
			<if test="bean.version != null and bean.version != ''">
				and t1.VERSION like '%'||#{bean.version}||'%'
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like '%'||#{bean.attribute01}||'%'
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like '%'||#{bean.attribute02}||'%'
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like '%'||#{bean.attribute03}||'%'
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like '%'||#{bean.attribute04}||'%'
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like '%'||#{bean.attribute05}||'%'
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like '%'||#{bean.attribute06}||'%'
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like '%'||#{bean.attribute07}||'%'
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like '%'||#{bean.attribute08}||'%'
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like '%'||#{bean.attribute09}||'%'
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like '%'||#{bean.attribute10}||'%'
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				and t1.ATTRIBUTE_11 like '%'||#{bean.attribute11}||'%'
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				and t1.ATTRIBUTE_12 like '%'||#{bean.attribute12}||'%'
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				and t1.ATTRIBUTE_13 like '%'||#{bean.attribute13}||'%'
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				and t1.ATTRIBUTE_14 like '%'||#{bean.attribute14}||'%'
			</if>
		
</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
		</where>
			order by t1.creation_date desc
</select>
<!-- 查询列表 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<select id="searchHdkfEsNoticeinfoEffective" parameterType="java.util.Map" resultMap="HdkfEsNoticeinfoEffectiveDTOMap">
	select
		t1.id                             ,
		t1.aircraftinfo_id                ,
		t1.batch_no                       ,
		t1.model_name                     ,
		t1.bulletin_id                    ,
		t1.bulletin_no                    ,
		t1.customer_id                    ,
		t1.customer_name                  ,
		t1.do_flag                        ,
		t1.plan_time                      ,
		t1.do_time                        ,
		t1.undo_reason                    ,
		t1.user_comments                  ,
		t1.write_name                     ,
		t1.complete_date                  ,
		t1.remarks                        ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_es_noticeinfo_effective 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="aircraftinfoId != null and aircraftinfoId != ''">
				and t1.AIRCRAFTINFO_ID =#{aircraftinfoId}
			</if>
			<if test="batchNo != null and batchNo != ''">
				and t1.BATCH_NO =#{batchNo}
			</if>
			<if test="modelName != null and modelName != ''">
				and t1.MODEL_NAME =#{modelName}
			</if>
			<if test="bulletinId != null and bulletinId != ''">
				and t1.BULLETIN_ID =#{bulletinId}
			</if>
			<if test="bulletinNo != null and bulletinNo != ''">
				and t1.BULLETIN_NO =#{bulletinNo}
			</if>
			<if test="customerId != null and customerId != ''">
				and t1.CUSTOMER_ID =#{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				and t1.CUSTOMER_NAME =#{customerName}
			</if>
			<if test="doFlag != null and doFlag != ''">
				and t1.DO_FLAG =#{doFlag}
			</if>
			<if test="bean.planTimeBegin != null and bean.planTimeBegin != ''">
				and t1.PLAN_TIME &gt;= #{bean.planTimeBegin}
			</if>
			<if test="bean.planTimeEnd != null and bean.planTimeEnd != ''">
				and t1.PLAN_TIME &lt;= #{bean.planTimeEnd}
			</if>
			<if test="bean.doTimeBegin != null and bean.doTimeBegin != ''">
				and t1.DO_TIME &gt;= #{bean.doTimeBegin}
			</if>
			<if test="bean.doTimeEnd != null and bean.doTimeEnd != ''">
				and t1.DO_TIME &lt;= #{bean.doTimeEnd}
			</if>
			<if test="undoReason != null and undoReason != ''">
				and t1.UNDO_REASON =#{undoReason}
			</if>
			<if test="userComments != null and userComments != ''">
				and t1.USER_COMMENTS =#{userComments}
			</if>
			<if test="writeName != null and writeName != ''">
				and t1.WRITE_NAME =#{writeName}
			</if>
			<if test="bean.completeDateBegin != null and bean.completeDateBegin != ''">
				and t1.COMPLETE_DATE &gt;= #{bean.completeDateBegin}
			</if>
			<if test="bean.completeDateEnd != null and bean.completeDateEnd != ''">
				and t1.COMPLETE_DATE &lt;= #{bean.completeDateEnd}
			</if>
			<if test="remarks != null and remarks != ''">
				and t1.REMARKS =#{remarks}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null and version != ''">
				and t1.VERSION =#{version}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null and attribute07 != ''">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null and attribute08 != ''">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
			<if test="attribute11 != null and attribute11 != ''">
				and t1.ATTRIBUTE_11 =#{attribute11}
			</if>
			<if test="attribute12 != null and attribute12 != ''">
				and t1.ATTRIBUTE_12 =#{attribute12}
			</if>
			<if test="attribute13 != null and attribute13 != ''">
				and t1.ATTRIBUTE_13 =#{attribute13}
			</if>
			<if test="attribute14 != null and attribute14 != ''">
				and t1.ATTRIBUTE_14 =#{attribute14}
			</if>
		</where>
</select>
<!-- 主键查询对象 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<select id="findHdkfEsNoticeinfoEffectiveById" parameterType="java.util.Map" resultMap="HdkfEsNoticeinfoEffectiveDTOMap">
	select
		t1.id                             ,
		t1.aircraftinfo_id                ,
		t1.batch_no                       ,
		t1.model_name                     ,
		t1.bulletin_id                    ,
		t1.bulletin_no                    ,
		t1.customer_id                    ,
		t1.customer_name                  ,
		t1.do_flag                        ,
		t1.plan_time                      ,
		t1.do_time                        ,
		t1.undo_reason                    ,
		t1.user_comments                  ,
		t1.write_name                     ,
		t1.complete_date                  ,
		t1.remarks                        ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   
	from hdkf_es_noticeinfo_effective 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<insert id="insertHdkfEsNoticeinfoEffective" parameterType="avicit.hdkf.esnotice.hdkfesnoticeinfoeffective.dto.HdkfEsNoticeinfoEffectiveDTO">
	insert into hdkf_es_noticeinfo_effective
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="aircraftinfoId != null">
				aircraftinfo_id,
			</if>
			<if test="batchNo != null">
				batch_no,
			</if>
			<if test="modelName != null">
				model_name,
			</if>
			<if test="bulletinId != null">
				bulletin_id,
			</if>
			<if test="bulletinNo != null">
				bulletin_no,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="customerName != null">
				customer_name,
			</if>
			<if test="doFlag != null">
				do_flag,
			</if>
			<if test="planTime != null">
				plan_time,
			</if>
			<if test="doTime != null">
				do_time,
			</if>
			<if test="undoReason != null">
				undo_reason,
			</if>
			<if test="userComments != null">
				user_comments,
			</if>
			<if test="writeName != null">
				write_name,
			</if>
			<if test="completeDate != null">
				complete_date,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="attribute11 != null">
				attribute_11,
			</if>
			<if test="attribute12 != null">
				attribute_12,
			</if>
			<if test="attribute13 != null">
				attribute_13,
			</if>
			<if test="attribute14 != null">
				attribute_14,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="aircraftinfoId != null">
				#{aircraftinfoId,jdbcType=VARCHAR},
			</if>
			<if test="batchNo != null">
				#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="modelName != null">
				#{modelName,jdbcType=VARCHAR},
			</if>
			<if test="bulletinId != null">
				#{bulletinId,jdbcType=VARCHAR},
			</if>
			<if test="bulletinNo != null">
				#{bulletinNo,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="doFlag != null">
				#{doFlag,jdbcType=VARCHAR},
			</if>
			<if test="planTime != null">
				#{planTime,jdbcType=DATE},
			</if>
			<if test="doTime != null">
				#{doTime,jdbcType=DATE},
			</if>
			<if test="undoReason != null">
				#{undoReason,jdbcType=VARCHAR},
			</if>
			<if test="userComments != null">
				#{userComments,jdbcType=VARCHAR},
			</if>
			<if test="writeName != null">
				#{writeName,jdbcType=VARCHAR},
			</if>
			<if test="completeDate != null">
				#{completeDate,jdbcType=DATE},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				#{attribute14,jdbcType=DATE},
			</if>
	</trim>
</insert>
<!-- 更新对象 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<update id="updateHdkfEsNoticeinfoEffectiveSensitive" parameterType="avicit.hdkf.esnotice.hdkfesnoticeinfoeffective.dto.HdkfEsNoticeinfoEffectiveDTO">
	update hdkf_es_noticeinfo_effective t1
	<set>
			<if test="id != null">
				t1.id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="aircraftinfoId != null">
				t1.aircraftinfo_id                =#{aircraftinfoId,jdbcType=VARCHAR},
			</if>
			<if test="batchNo != null">
				t1.batch_no                       =#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="modelName != null">
				t1.model_name                     =#{modelName,jdbcType=VARCHAR},
			</if>
			<if test="bulletinId != null">
				t1.bulletin_id                    =#{bulletinId,jdbcType=VARCHAR},
			</if>
			<if test="bulletinNo != null">
				t1.bulletin_no                    =#{bulletinNo,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				t1.customer_id                    =#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				t1.customer_name                  =#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="doFlag != null">
				t1.do_flag                        =#{doFlag,jdbcType=VARCHAR},
			</if>
			<if test="planTime != null">
				t1.plan_time                      =#{planTime,jdbcType=DATE},
			</if>
			<if test="doTime != null">
				t1.do_time                        =#{doTime,jdbcType=DATE},
			</if>
			<if test="undoReason != null">
				t1.undo_reason                    =#{undoReason,jdbcType=VARCHAR},
			</if>
			<if test="userComments != null">
				t1.user_comments                  =#{userComments,jdbcType=VARCHAR},
			</if>
			<if test="writeName != null">
				t1.write_name                     =#{writeName,jdbcType=VARCHAR},
			</if>
			<if test="completeDate != null">
				t1.complete_date                  =#{completeDate,jdbcType=DATE},
			</if>
			<if test="remarks != null">
				t1.remarks                        =#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				t1.creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				t1.last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				t1.version                        =t1.version+1,
			</if>
			<if test="attribute01 != null">
				t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				t1.attribute_14                   =#{attribute14,jdbcType=DATE},
			</if>
	</set>
		where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 更新对象 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<update id="updateHdkfEsNoticeinfoEffectiveAll" parameterType="avicit.hdkf.esnotice.hdkfesnoticeinfoeffective.dto.HdkfEsNoticeinfoEffectiveDTO">
	update hdkf_es_noticeinfo_effective t1
		set
			t1.id                             =#{id,jdbcType=VARCHAR},
			t1.aircraftinfo_id                =#{aircraftinfoId,jdbcType=VARCHAR},
			t1.batch_no                       =#{batchNo,jdbcType=VARCHAR},
			t1.model_name                     =#{modelName,jdbcType=VARCHAR},
			t1.bulletin_id                    =#{bulletinId,jdbcType=VARCHAR},
			t1.bulletin_no                    =#{bulletinNo,jdbcType=VARCHAR},
			t1.customer_id                    =#{customerId,jdbcType=VARCHAR},
			t1.customer_name                  =#{customerName,jdbcType=VARCHAR},
			t1.do_flag                        =#{doFlag,jdbcType=VARCHAR},
			t1.plan_time                      =#{planTime,jdbcType=DATE},
			t1.do_time                        =#{doTime,jdbcType=DATE},
			t1.undo_reason                    =#{undoReason,jdbcType=VARCHAR},
			t1.user_comments                  =#{userComments,jdbcType=VARCHAR},
			t1.write_name                     =#{writeName,jdbcType=VARCHAR},
			t1.complete_date                  =#{completeDate,jdbcType=DATE},
			t1.remarks                        =#{remarks,jdbcType=VARCHAR},
			t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			t1.creation_date                  =#{creationDate},
			t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			t1.last_update_date               =#{lastUpdateDate},
			t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			t1.version                        =t1.version+1,
			t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			t1.attribute_14                   =#{attribute14,jdbcType=DATE},
	where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 主键删除 HDKF_ES_NOTICEINFO_EFFECTIVE -->
<delete id="deleteHdkfEsNoticeinfoEffectiveById" parameterType="java.lang.String">
		delete from hdkf_es_noticeinfo_effective  where  id = #{id}
</delete>
	
<select id="searchCsmpEsNoticeinfoEffectiveCountbatchNoByPage" parameterType="java.lang.String" resultMap="HdkfEsNoticeinfoEffectiveDTOMap">
	select distinct  t.batch_no,t.model_name,t.customer_name  from HDKF_ES_NOTICEINFO_EFFECTIVE t
where  t.bulletin_id =  #{id}
</select>	
<delete id="resetHdkfEsNoticeinfoEffectiveById" parameterType="java.lang.String">
		update hdkf_es_noticeinfo_effective t
		set  t.do_flag = null,t.do_time = null,t.write_name=null,t.complete_date = null,t.undo_reason=null,t.user_comments = null,t.remarks=null
		
		 where  id = #{id}
</delete>
</mapper>