<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.csmp.basicData.hdkfbdaircraftmodelt.dao.HdkfBdAircraftModelTDao">

<resultMap id="HdkfBdAircraftModelTDTOMap" type="avicit.csmp.basicData.hdkfbdaircraftmodelt.dto.HdkfBdAircraftModelTDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="fatherId" column="FATHER_ID" jdbcType="VARCHAR" />
		<result property="aircraftName" column="AIRCRAFT_NAME" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
		<result property="attribute11" column="ATTRIBUTE_11" jdbcType="DECIMAL" />
		<result property="attribute12" column="ATTRIBUTE_12" jdbcType="DECIMAL" />
		<result property="attribute13" column="ATTRIBUTE_13" jdbcType="TIMESTAMP" />
		<result property="attribute14" column="ATTRIBUTE_14" jdbcType="TIMESTAMP" />
</resultMap>
<resultMap id="HdkfBdAircraftModelTMap" type="java.util.HashMap">
	<result property="Id" column="ID" jdbcType="VARCHAR" />
	<result property="FatherId" column="FATHER_ID" jdbcType="VARCHAR" />
	<result property="AircraftName" column="AIRCRAFT_NAME" jdbcType="VARCHAR" />
	<result property="childCount" column="childCount" jdbcType="VARCHAR" />
</resultMap>

<select id="getHdkfBdAircraftModelTByFatherId" parameterType="java.lang.String" resultMap="HdkfBdAircraftModelTMap">
  select (select count(1) from HDKF_BD_AIRCRAFT_MODEL_T t1 where t.ID = t1.FATHER_ID) childCount,
  t.AIRCRAFT_NAME,
  t.FATHER_ID,
  t.ID
  from HDKF_BD_AIRCRAFT_MODEL_T t  where t.FATHER_ID = #{id,jdbcType=VARCHAR} 
</select>
<select id="searchHdkfBdAircraftModelT" parameterType="java.lang.String" resultMap="HdkfBdAircraftModelTMap">
  select (select count(1) from HDKF_BD_AIRCRAFT_MODEL_T t1 where t.ID = t1.FATHER_ID) childCount,
  t.AIRCRAFT_NAME,
  t.FATHER_ID,
  t.ID
  from HDKF_BD_AIRCRAFT_MODEL_T t  where t.AIRCRAFT_NAME like '%'||#{AircraftName,jdbcType=VARCHAR}||'%'
</select>
<select id="getNodeById" parameterType="java.lang.String" resultMap="HdkfBdAircraftModelTDTOMap">
	SELECT * FROM HDKF_BD_AIRCRAFT_MODEL_T b WHERE b.ID=#{id,jdbcType=VARCHAR} 
</select>
<select id="getNodeByModelId" parameterType="java.lang.String" resultMap="HdkfBdAircraftModelTDTOMap">
	SELECT * FROM HDKF_BD_AIRCRAFT_MODEL_T b WHERE b.attribute_01=#{modelId,jdbcType=VARCHAR} 
</select>
<select id="getNodeByFatherId" parameterType="java.lang.String" resultMap="HdkfBdAircraftModelTDTOMap">
	SELECT * FROM HDKF_BD_AIRCRAFT_MODEL_T b WHERE b.FATHER_ID=#{fatherId,jdbcType=VARCHAR} </select>
<!-- 新增对象 HDKF_BD_AIRCRAFT_MODEL_T -->
<insert id="insertHdkfBdAircraftModelT" parameterType="avicit.csmp.basicData.hdkfbdaircraftmodelt.dto.HdkfBdAircraftModelTDTO">
	insert into hdkf_bd_aircraft_model_t
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fatherId != null">
				father_id,
			</if>
			<if test="aircraftName != null">
				aircraft_name,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="attribute11 != null">
				attribute_11,
			</if>
			<if test="attribute12 != null">
				attribute_12,
			</if>
			<if test="attribute13 != null">
				attribute_13,
			</if>
			<if test="attribute14 != null">
				attribute_14,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="fatherId != null">
				#{fatherId,jdbcType=VARCHAR},
			</if>
			<if test="aircraftName != null">
				#{aircraftName,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				#{attribute14,jdbcType=DATE},
			</if>
	</trim>
</insert>
<!-- 更新对象 HDKF_BD_AIRCRAFT_MODEL_T -->
<update id="updateHdkfBdAircraftModelTSensitive" parameterType="avicit.csmp.basicData.hdkfbdaircraftmodelt.dto.HdkfBdAircraftModelTDTO">
	update hdkf_bd_aircraft_model_t t1
	<set>
			<if test="id != null">
				t1.id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="fatherId != null">
				t1.father_id                      =#{fatherId,jdbcType=VARCHAR},
			</if>
			<if test="aircraftName != null">
				t1.aircraft_name                  =#{aircraftName,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				t1.creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				t1.last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				t1.version                        =t1.version+1,
			</if>
			<if test="attribute01 != null">
				t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			</if>
			<if test="attribute12 != null">
				t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			</if>
			<if test="attribute13 != null">
				t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			</if>
			<if test="attribute14 != null">
				t1.attribute_14                   =#{attribute14,jdbcType=DATE},
			</if>
	</set>
		where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 更新对象 HDKF_BD_AIRCRAFT_MODEL_T -->
<update id="updateHdkfBdAircraftModelTAll" parameterType="avicit.csmp.basicData.hdkfbdaircraftmodelt.dto.HdkfBdAircraftModelTDTO">
	update hdkf_bd_aircraft_model_t t1
		set
			t1.id                             =#{id,jdbcType=VARCHAR},
			t1.father_id                      =#{fatherId,jdbcType=VARCHAR},
			t1.aircraft_name                  =#{aircraftName,jdbcType=VARCHAR},
			t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			t1.creation_date                  =#{creationDate},
			t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			t1.last_update_date               =#{lastUpdateDate},
			t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			t1.version                        =t1.version+1,
			t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			t1.attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			t1.attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			t1.attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			t1.attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			t1.attribute_11                   =#{attribute11,jdbcType=DECIMAL},
			t1.attribute_12                   =#{attribute12,jdbcType=DECIMAL},
			t1.attribute_13                   =#{attribute13,jdbcType=DATE},
			t1.attribute_14                   =#{attribute14,jdbcType=DATE},
	where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 主键删除 HDKF_BD_AIRCRAFT_MODEL_T -->
<delete id="deleteHdkfBdAircraftModelTById" parameterType="java.lang.String">
		delete from hdkf_bd_aircraft_model_t  where  id = #{id}
</delete>
</mapper>